<%= javascript_include_tag 'movie-db' %>

<h1><%= @movie.title %> </h1>
<%= @movie.description %>

<% if current_user %>
  <div id='ember-rails-app'>
  </div>
  <script>
    window.movie_rating = {
      id: '<%= @rating.id %>',
      movie_id: '<%= @movie.id %>'
    };

  </script>
<% else %>
  <div>
    Please sign in to rate this movie.
  </div>
<% end %>

